<h1>Contenido de la sección acerca</h1>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione, nisi dolor. Officia reiciendis provident debitis cumque reprehenderit. Quo voluptas quidem ad reiciendis repudiandae optio vitae modi aliquam, itaque deserunt porro!
</p>
<img src="https://placeimg.com/720/480/people" alt="People">